<!DOCTYPE html>
<html>
    <head>
        <title>Hello world!</title>
    </head>
    <body>
        <h2>Hello world!</h2>
        <p>Template generated with <a href="http://ejs.co/">EJS</a>.</p>
        <h2>Message: <%= greet %></h2>
        <br/>
        Value of some property from enviroment is: <%= someProperty %>
    </body>
</html>
